/* CSSリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
    position: relative;
    padding-left: 15px;
}

#rangeLine, #sentakuShi {
    transform: scale(1.2); /* 要素全体のスケーリング */
    transform-origin: top left;
    font-size: 120%; /* テキストのサイズを120%に設定 */
    margin-bottom: 20px;
}

#startLine, #endLine {
    width: 80px;
}

#sentakuShi

#inputFile {
  position: relative;
  padding: 20px 0; /* 上下の padding を少なくする */
}

#dropArea {
  width: 500px;
  height: 100px;
  padding: 10px;
  border: 2px dashed #494949;
  background: rgba(22, 165, 191, 0);
  transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

#dropArea.dragover {
  border: 2px solid #16a5bf;
  background: rgba(22, 165, 191, 0.6);
}

#fileName {
  text-align: left;
  margin: 20px 0; /* 上部にスペースを追加 */
  margin-bottom: 0px; /* dropArea との間に空白を追加 */
}

#textArea {
  width: 500px;
  height: 150px; /* 高さを増やしてみる */
  padding: 10px;
  text-align: left;
  margin-top: 10px; /* 上部にマージンを追加 */
}

#run-button {
    font-size: 18px; /* フォントサイズを大きくする */
    padding: 10px 20px; /* 内側の余白を大きくする */
    width: 150px; /* ボタンの幅を指定する（必要に応じて調整） */
    height: 50px; /* ボタンの高さを指定する（必要に応じて調整） */
    border: none; /* デフォルトのボーダーを削除する */
    border-radius: 5px; /* ボタンの角を丸くする（オプション） */
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    cursor: pointer; /* ボタンにカーソルを合わせるとポインターが表示されるようにする */
    font-weight: bold; /* 文字を太字にする */
    transition: background-color 0.3s; /* ホバー時の背景色変化にアニメーションを追加 */
	margin: 10px 0; /* ボタンの上下に 10px の余白を追加 */
}

#run-button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

footer ul {
    list-style-type: none; /* リストマーカーを削除 */
    padding: 0;
}

footer li {
    margin: 0;
}

footer a {
    font-size: 15px; /* フォントサイズを設定 */
    padding: 5px 10px; /* パディングを設定 */
    display: inline-block; /* サイズを反映させるためにインラインブロックを使用 */
    text-decoration: none; /* 下線を削除 */
    color: #000; /* テキストカラーを設定（必要に応じて変更） */
    border: 2px solid #000; /* ボーダーを追加（必要に応じて変更） */
    border-radius: 5px; /* 角を丸くする */
    background-color: #f0f0f0; /* 背景色を設定（必要に応じて変更） */
}

footer a:hover {
    background-color: #ddd; /* ホバー時の背景色 */
}